body{
    background-image: url(../src/fundo.jpg);
    width: 100%;
    height: 38em;
}
div{
    margin: 10px;
}
.divForm{
    top:    50%   ;
    position:   relative        ;
    margin:     auto;
}
form{
    margin: 20px;
}
.btn{
    transition: 200ms;
}

@media (max-width: 600px) {
    /* Adicione seus estilos aqui */
    .divForm {
        /* Exemplo: centralize o conteúdo verticalmente */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@font-face {
     font-family: "LOVE";
     src: url("../font/Love.ttf");
}

* {
    font-family: LOVE, sans-serif;
}
